<h1>Button</h1>

<article>
  <h3>The Beginning</h3>
  <p>This is a story of a project. After years and years of iOS &amp; web development, I've grown bored of solving the same problems over and over. You can only hit an API and show results in a table view so many times. I no longer find these problems stimulating or interesting.</p>
  <p><mark>It's time to learn something new.</mark> Hardware is fascinating. I've always wanted to get into it, but it's hard. There's so much to learn. This is exciting.</p>
  <p>At first, I set out to build a smartwatch. The thought of making an operating system sounds really fun. After researching parts, I realized I was in way over my head.</p>
  <p>In the spirit of iteration, I decided to build something simplier: <mark>a button</mark>. I was frustrated with the iPhone app that controls the WiFi lights in my apartment (first-world problems, I know). I thought, what if I could make a button to just toggle my lights? How hard could that be? Then it struck me, <mark>I should make a button that can perform an HTTP request.</mark> That's what I'm making.</p>

  <h3>No Nonsense</h3>
  <p>I want to make a button that simply performs a request and that's it. You could make it do anything. I'd love to integrate with <a href="http://ifttt.com" rel="external nofollow">IFTTT</a> so it's easy to get started if you don't want to be nerdy.</p>

  <h3>Transparency</h3>
  <p>I'm learning here. I have no idea what I'm doing when it comes to circuits. <mark>The software part is suddenly now that it controls the physical world.</mark> Instead of keeping this to myself and one day releasing it as a big surprise, I'm going to remain open about all of this the entire time.</p>
  <p>This isn't a revolutionary idea. It's ridiculously simple. <mark>This is the smallest hardware thing I can make and release.</mark> I'm excited to go from there. Here's the first demo:</p>

  <div class="video">
    <img src="http://placehold.it/16x9">
    <iframe src="//player.vimeo.com/video/77822502?title=0&amp;byline=0&amp;portrait=0&amp;color=52b3e5" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p>If you want to follow along, I'll be posting videos and such on <a href="http://twitter.com/physicals" rel="external nofollow">@physicals</a>. You can also follow <a href="http://twitter.com/soffes" rel="external nofollow">@soffes</a> if you want.</p>
  <p>Thanks for listening as I learn.</p>
  <p class="sig"><a href="http://soff.es"><img src="/assets/sig.svg" alt="Sam Soffes"></a></p>
</article>
