<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Button</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/b3f30a48-dab0-4071-a070-6e2354f96e64.css">
  <link rel="stylesheet" href="/assets/application.css">
</head>
<body>
  <%= yield %>
  <footer>&copy; 2013&ndash;2014 <a href="http://soff.es" rel="external nofollow">Sam Soffes</a></footer>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','526acf0a613f5d730a0000cc');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t,s);})();</script>
  <% end %>
</body>
</html>
