// Avenir Next
$avenir-ultralight: 'AvenirNextLTW01-UltraLi', 'HelveticaNeue-Light', Helvetica, sans-serif;
$avenir-regular: 'AvenirNextLTW01-Regular', 'HelveticaNeue', Helvetica, sans-serif;
$avenir-demi: 'Avenir Next LT W01 Demi', 'HelveticaNeue-Bold', Helvetica, sans-serif;
